<md-toolbar layout="row">
    <div flex style="text-align: center;"><h4>Classroom</h4></div>
</md-toolbar>
<br><br><br><br><br>

<div layout="row">
    <div flex="50" layout="row" layout-xs="column"  layout-padding>
    	<div flex="30" class="chair">
    		<h4>Student 1</h4>
			<md-button class="md-fab md-primary md-hue-2" ng-click="showExam();" aria-label="Profile">
	            <md-icon md-svg-src="img/icons/ic_people_25px.svg"></md-icon>
	        </md-button>
    	</div>
    	<div flex="30" class="chair">
    		<h4>Student 2</h4>
			<md-button class="md-fab md-primary md-hue-2" aria-label="Profile">
	            <md-icon md-svg-src="img/icons/ic_people_25px.svg"></md-icon>
	        </md-button>
    	</div>
	    <div flex="30" class="chair">
	    	<h4>Student 3</h4>
			<md-button class="md-fab md-primary md-hue-2" aria-label="Profile">
	            <md-icon md-svg-src="img/icons/ic_people_25px.svg"></md-icon>
	        </md-button>
	    </div>
    </div>
    <div flex="50" class="blue box">

    </div>
</div>


