<md-toolbar layout="row">
    <div flex style="text-align: center;"><h4>Classroom</h4></div>
</md-toolbar>
<br>
<div flex layout="row" layout-padding layout-align="center center">
    <div flex="20" layout-align="center center" layout="row" class='chair' layout-xs="column"  layout-padding>
    	<h4>Teacher Desk</h4>
    </div>
</div>
<br><br>

<div layout="row">
    <div flex="50" layout="row" layout-xs="column"  layout-padding>
    	<student-list flex='30' class='chair' ng-class="{sitSelected: chair.sitted}" ng-repeat="chair in chairs.row1" data="chair"></student-list>
    </div>
    <div flex="50" layout="row" layout-xs="column"  layout-padding>
    	<student-list flex='30' class='chair' ng-class="{sitSelected: chair.sitted}" ng-repeat="chair in chairs.row2" data="chair"></student-list>
    </div>
</div>

<div layout="row">
    <div flex="50" layout="row" layout-xs="column"  layout-padding>
    	<student-list flex='30' class='chair' ng-class="{sitSelected: chair.sitted}" ng-repeat="chair in chairs.row3" data="chair"></student-list>
    </div>
    <div flex="50" layout="row" layout-xs="column"  layout-padding>
    	<student-list flex='30' class='chair' ng-class="{sitSelected: chair.sitted}" ng-repeat="chair in chairs.row4" data="chair"></student-list>
    </div>
</div>

<div layout="row">
    <div flex="50" layout="row" layout-xs="column"  layout-padding>
    	<student-list flex='30' class='chair' ng-class="{sitSelected: chair.sitted}" ng-repeat="chair in chairs.row5" data="chair"></student-list>
    </div>
    <div flex="50" layout="row" layout-xs="column"  layout-padding>
    	<student-list flex='30' class='chair' ng-class="{sitSelected: chair.sitted}" ng-repeat="chair in chairs.row6" data="chair"></student-list>
    </div>
</div>


